.div_endereco_fields>.linha { width: 700px; }
.div_endereco_fields>.linha>p {display: block;float: left;text-align: left;min-width: 210px;padding-right: 10px;margin: 0 0 10px 0;}
.div_endereco_fields>.linha>p>input[type=text] { display: block;text-align: left; width: 210px; }
.div_endereco_fields>.linha .Logadouro input[type=text]{ width: 438px; }
.div_endereco_fields>.linha .remover {display: block;width: 680px;}
.div_endereco_fields>.linha .remover a{ width: 70px; height: 20px; display: block; margin: 19px 5px 0 0; text-align: center; background-color: #fcc;padding: 4px 0 1px 0;text-decoration: none;border: 1px solid #d99;float: right;}
a.add_field_endereco{ height: 20px; display: block; margin: 19px 5px 0 0; text-align: center; background-color: #cfc;padding: 4px 0 1px 0;text-decoration: none;border: 1px solid #9d9;}